body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.carousel-container {
  max-width: 600px; /* Set your desired max width */
  margin: 0 auto; /* Center the Carousel horizontally */
}

.carousel {
  max-width: 100%;
  height: auto; /* Adjust the height as needed */
}

.carousel img {
  max-width: 100%;
  height: auto; /* Ensure images fit within the Carousel */
}

